<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Simple Strength
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h3>Simple Strength</h3>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="User.LoggedIn; else notLoggedIn">
    <ion-card-header>
      <ion-card-title>Your Profile:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>You're currently logged in as: <strong>{{User.Name}}</strong></p>
      <p>Sex: {{User.Sex}}</p>
      <p>Age: {{User.Age}}</p>
      <p>Bodyweight: {{User.Bodyweight}}</p>
      <p>Fitness Level: {{User.FitnessLevel}}</p>
      <ion-button color="primary" (click)="updateProfile()">Update Profile</ion-button>
      <ion-button color="danger" (click)="deleteProfile()">Delete Profile</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="User.LoggedIn">
    <ion-card-header>
      <ion-card-title>One-Rep Maxes:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="User.MaxesSuggested; else suggestMaxButton">
        <p>Bench Press: {{User.BenchMax}}</p>
        <p>Deadlift: {{User.DeadliftMax}}</p>
        <p>Overhead Press: {{User.OHPMax}}</p>
        <p>Squat: {{User.SquatMax}}</p>
        <p>Bent-Over Row: {{User.RowMax}}</p>
      </div>
      <ion-button id="suggestMaxButton" color="primary" (click)="suggestMaxes()">Suggest One-Rep Maxes</ion-button>
      <ion-button id="setMaxButton" color="secondary" (click)="setMaxes()">Manually Set One-Rep Maxes</ion-button>
    </ion-card-content>
  </ion-card>

  <!--not logged in, create profile-->
  <ng-template #notLoggedIn>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Before you can start tracking your workouts, you need to create a profile.</p>
      </ion-card-content>
    </ion-card>

    <div>
      <form [formGroup]="profileForm" (ngSubmit)="createProfile()" novalidate>
        <!-- Name -->
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="Name" type="text" maxlength="20" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.Name">
            <div class="error-message" *ngIf="profileForm.get('Name').hasError(validation.type) && (profileForm.get('Name').dirty || profileForm.get('Name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        
        <!-- Sex -->
        <ion-item>
          <ion-label>Sex</ion-label>
          <ion-select formControlName="Sex" required>
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.Sex">
            <div class="error-message" *ngIf="profileForm.get('Sex').hasError(validation.type) && (profileForm.get('Sex').dirty || profileForm.get('Sex').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <!-- Age -->
        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input formControlName="Age" type="number" min="14" max="89" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.Age">
            <div class="error-message" *ngIf="profileForm.get('Age').hasError(validation.type) && (profileForm.get('Age').dirty || profileForm.get('Age').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <!-- Bodyweight -->
        <ion-item>
          <ion-label position="floating">Bodyweight</ion-label>
          <ion-input formControlName="Bodyweight" type="number" min="90" max="310" required></ion-input>
        </ion-item><br>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.Bodyweight">
            <div class="error-message" *ngIf="profileForm.get('Bodyweight').hasError(validation.type) && (profileForm.get('Bodyweight').dirty || profileForm.get('Bodyweight').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <!-- Fitness Level -->
        <ion-item>
          <ion-label>Fitness Level</ion-label>
          <ion-select formControlName="FitnessLevel" required>
            <ion-select-option value="Beginner">Beginner</ion-select-option>
            <ion-select-option value="Novice">Novice</ion-select-option>
            <ion-select-option value="Intermediate">Intermediate</ion-select-option>
            <ion-select-option value="Advanced">Advanced</ion-select-option>
            <ion-select-option value="Elite">Elite</ion-select-option>
          </ion-select>
        </ion-item>
        
        <br>

        <!-- Submit -->
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block">Create Profile</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </ng-template>
</ion-content>